* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.centerTitles {
    padding: 1vw 0vw;
    margin: 0px;
    text-align: center;
}

.centertext {
    text-align: center;
}

/* ------------ header -------------- */

header {
    height: 10vh;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
}

.logolayout {
    font-size: 2em;
    text-align: center;
    margin-left: 2%;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.topnav a:nth-child(7) {
    color: red;
}

.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

/* --------- Main layout ----------- */


main {
    color: black;
}

/* Home */

/* Hero images */

.hero-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.hero-image {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 90vh;
    object-fit: cover;
}

.nav-btn {
    position: absolute;
    top: 45%;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#prevBtn {
    left: 5px;
}

#nextBtn {
    right: 5px;
}

/* text home page */

.hero-titles {
    position: absolute;
    top: 52%;
    left: 22%;
    transform: translate(-50%, -50%);
    color: white; /* or any color that suits your design */
}

.centered-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Racing Sans One', sans-serif !important;
    font-size: 60px;
    margin: 0px;
    color: white;
}

.centered-subtitle {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Racing Sans One', sans-serif !important;
    font-size: 30px;
    margin: 12px;
    color: white;
}

/* After hero image */

.centered-title-second {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 10px;
}

/* Team */

.team-container {
    text-align: center;
    margin-top: 20px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.team-member {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member img {
    width: 70%;
    height: auto;
    border-radius: 50%;
}

.name {
    margin: 10px 0;
    color: #333;
    font-size: 24px;
}

.position {
    margin: 10px 0;
    color: #333;
    font-size: 20px;
}

/* Footer */

footer {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    margin: 5px 0;
}

/* Contact */

.container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 20px;

}

.contact-text {
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-form-container {
    flex-basis: 50%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Include padding and border in the element's width */
}

.contact-form textarea {
    resize: none; /* Disable resizing */
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}